<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
     <!-- font awsome -->
     <script src="https://kit.fontawesome.com/ad6ee8ce6b.js" crossorigin="anonymous"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="/styles.css">

    <title>Blog hala | <%= pageTitle %></title>
</head>
<body>