<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Blogs</a>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
      
          <div class="navbar-end">
  
            <a class="navbar-item ms-5 p-3" href="/login"> Login </a>
            <a class="navbar-item" href="/signup">Sign Up</a>
          </div>
        </div>

    </div>

</nav>