<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/articles">Blogs</a>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
      
          <div class="navbar-end">
  
            <!-- <a class="navbar-item ms-5 p-3" href="/login"> Logout </a> -->
            <form action="/logout" method="POST">
                <button>Logout</button>
            </form>
         
          </div>
        </div>

    </div>

</nav>