<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/articles">Blogs</a>
     

          <div class="navbar-end">
            <a href="/articles/create" class="btn btn-info">New Article</a>
            <!-- <a class="navbar-item ms-5 p-3" href="/login"> Logout </a> -->
            <form class="d-inline" action="/logout" method="POST">
                <button class="btn btn-secondary">Logout</button>
            </form>
         
          </div>

    </div>
      

    

</nav>