<%- include("./partials/head.ejs") %>
<%- include('./partials/nav.ejs')%>


    <main class="row justify-content-center mt-5">
        <h2 class="mt-5 ">OOPS, page not found :)</h2>

    </main>

        


<%- include("./partials/footer.ejs") %>